{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="mb-4 text-center fw-bold">Presupuestos para Estudiar en el Exterior</h1>

{% if data %}

<div class="table-responsive" data-aos="fade-up">
    <table class="table table-bordered table-striped align-middle">
        <thead class="table-dark text-center">
            <tr>
                {% for column in data[0].keys() %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for value in row.values() %}
                        <td class="text-center">{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
{% endblock %}
